Django==5.1.4
djangorestframework
pymysql  
flask
flask-cors
opencv-python
face-recognition
numpy
requests

# Dlib make error on window so Install CMake & Visual Studio Build Tools then dlib but firstly install face_recognition is face error then going to manually
# then upgrade wheeel(setuptools wheel)





