<div class="wrapper">
    <div class="body-overlay"></div>

    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <a href="{% url 'hr_dashboard' %}">
                <img src="/static/img/main-logo.png" class="logo" style="height: 2.2rem; width: 80%;" />
            </a>
        </div>

        <ul class="list-unstyled components trans">


            <li class="sidemenu">
                <a class="navbar-brand" href="{% url 'hr_dashboard' %}">
                    <i data-lucide="layout-dashboard"></i><span>Dashboard</span>
                </a>
            </li>
            <li class="sidemenu">
                <a href="{% url 'face' %}">
                    <i data-lucide="cctv"></i><span>Live Cameras</span>
                </a>
            </li>

            <li class="dropdown sidemenu">
                <a href="#homeSubmenu1" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle"
                    title="Attendance Management">
                    <i data-lucide="user"></i><span>Employee Management</span>
                </a>
                <ul class="collapse list-unstyled menu" id="homeSubmenu1">
                    <li>
                        <a href="{% url 'employee_list' %}">Employee List</a>
                    </li>
                    <li>
                        <a href="{% url 'create_employee' %}">Create Employee</a>
                    </li>
                </ul>
            </li>

            <li class="dropdown sidemenu">
                <a href="#homeSubmenu2" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle"
                    title="Attendance Management">
                    <i data-lucide="chart-bar-stacked"></i><span>Attendance Management</span>
                </a>
                <ul class="collapse list-unstyled menu" id="homeSubmenu2">
                    <li>
                        <a href="{% url 'real_time_attendance' %}">Real-Time Attendance</a>
                    </li>
                    <li>
                        <a href="{% url 'all_attendance' %}">Total Attendance(Employee)</a>
                    </li>
                    <li>
                        <a href="#">Attendance Analytics</a>
                    </li>
                </ul>
            </li>

            <li class="sidemenu">
                <a href="{% url 'payroll_dashboard' %}">
                    <i data-lucide="landmark"></i>
                    <span>Payroll Management</span>
                </a>
            </li>

            <li class="dropdown sidemenu">
                <a href="{% url 'performance_dashboard' %}">
                    <i data-lucide="chart-bar"></i>
                    <span>Performance Analytics</span>
                </a>
            </li>

            <li class="dropdown sidemenu">
                <a href="{% url 'leave-dashboard' %}">
                    <i data-lucide="hourglass"></i>
                    <span>Leave & Time Management</span>
                </a>
            </li>

            <li class="dropdown sidemenu">
                <a href="{% url 'view_complaints_hr' %}">
                    <i data-lucide="message-circle"></i>
                    <span>Complaintbox & Feedback</span>
                </a>
            </li>
            <li class="dropdown sidemenu">
                <a href="{% url 'manage_manual_requests' %}">
                    <i data-lucide="message-circle"></i>
                    <span>Manual Attendance Request</span>
                </a>
            </li>


            <li class="sidemenu">
                <a href="{% url 'manage_dept_desig' %}">
                    <i data-lucide="triangle-alert"></i>
                    <span>Departemnt & Designation</span>
                </a>
            </li>
            <li class="sidemenu">
                <a href="{% url 'logout' %}">
                    <i data-lucide="log-out"></i><span>Logout</span>
                </a>
            </li>
        </ul>
    </nav>

    <!-- Page Content  -->
    <div id="content">
        <div class="top-navbar">
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <div class="d-flex">
                        <button type="button" id="sidebarCollapse" class="d-xl-block d-lg-block d-md-mone d-none">
                            <span class="material-icons">arrow_back_ios</span>
                        </button>
                    </div>
                    <img src="/static/img/main-logo.png" class="logo d-lg-none d-md-none d-sm-block" style="width: 38%;" />
                    <div class="position-absolute">
                        <button class="d-inline-block d-lg-none more-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation" style="font-size: 25px;">
                            <i class="fi fi-rr-bars-sort"></i>
                        </button>

                    </div>
                    <div class="d-lg-block d-xl-block">
                        <div class="navbar-nav ms-auto align-items-center flex-row">




                            <!-- User Profile -->
                            <div class="nav-item dropdown d-flex align-items-center">

                                <a class="d-flex align-items-center text-decoration-none dropdown-toggle" href="#"
                                    id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <p class="mb-2 me-2 account-name">
                                        <b>{{ request.user.get_full_name|default:request.user.username }}</b>
                                    </p>
                                    <div class="rounded-circle">
                                        <img src="/static/img/user.png" style="width: 33px; object-fit: cover;"
                                            alt="User Profile" />
                                    </div>
                                </a>

                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                                    <li class="px-3">
                                        <!-- Theme Toggle -->
                                        <div class="nav-item d-flex">
                                            <div class="navbar theme-toggler" id="themeToggle">
                                                <i data-lucide="sun" class="theme-icon sun-icon active"></i>
                                                <i data-lucide="moon" class="theme-icon moon-icon" id="moonIcon"></i>
                                            </div>
                                            <p class="text-dark">Theme</p>
                                        </div>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{% url 'settings' %}">
                                            <i class="material-icons me-1">settings</i>
                                            <p>Settings</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{% url 'logout' %}">
                                            <i class="material-icons me-1">logout</i>
                                            <p>Logout</p>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>

                </div>
            </nav>
        </div>