{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Techzilla - Employee Dashboard</title>
    <link rel="icon" href="{% static 'img/logo.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/employee_dashboard.css' %}">

    <!-- <link rel="stylesheet" href="emp_styles.css"> -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/your-fontawesome-kit.js" crossorigin="anonymous"></script>

    <!--google material icon-->
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/3.0.0/uicons-thin-rounded/css/uicons-thin-rounded.css'>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap" rel="stylesheet">

</head>

<body>
    <div id="overlay"></div>

    {% include 'emp_header.html' %}
    {% include 'emp_sidebar.html' %}

    <div id="contentWrapper">
        <div class="container-fluid">
            <div class="row">


                <!-- Left Sidebar -->

                <aside class="col-md-2 side">

                    <div class=" left-side">
                        <h6>Performance Analytics</h6>
                        <div class="row box">
                            <div class="col-md-6 p-0">
                                <a href="{% url 'emp_performance' %}">
                                    <i class="fi fi-tr-speedometer-kpi" style="font-size: 30px;"></i>
                                    <div>Performance</div>
                                </a>

                            </div>
                            <div class="col-md-6 p-0 ">
                                <a href="{% url 'employee_tasks' %}">
                                    <i class="fi fi-tr-task-checklist" style="font-size: 30px;"></i>
                                    <div>Task Completion</div>
                                </a>
                            </div>
                            <!-- <div class="col-md-6 sub-box">
                                <a href="#">
                                    <img src="/static/img/emp_images/Incentive.png" alt="" class="aside-img"><br>
                                    <span>Incentive & Penalty</span>
                                </a>
                            </div> -->
                        </div>
                        <h6>Attendance Management</h6>
                        <div class="row box">
                            <div class="col-md-6 p-0">
                                <a href="{% url 'emp_attendance' %}">
                                    <i class="fi fi-tr-check-in-calendar" style="font-size: 30px;"></i>
                                    <div>Check-In/Out</div>
                                </a>

                            </div>
                            <div class="col-md-6 p-0">
                                <a href="{% url 'attendance_analytics' %}">
                                    <i class="fi fi-tr-stats" style="font-size: 30px;"></i>
                                    <div>Analytics</div>
                                </a>
                            </div>
                            <!-- <div class="col-md-6 sub-box">
                                <a href="#">
                                    <img src="/static/img/emp_images/Notification.png" alt="" class="aside-img"><br>
                                    <span>Notifications</span>
                                </a>
                            </div> -->
                        </div>
                        <h6>Payroll</h6>
                        <div class="row box">
                            <div class="col-md-6 p-0">
                                <a href="{% url 'employee_payroll' %}"">
                                    <i class=" fi fi-tr-sack-dollar" style="font-size: 30px;"></i>
                                    <div>Payroll Overview</div>
                                </a>
                            </div>
                            <div class="col-md-6 p-0">
                                <a href="{% url 'payroll_slip' %}">
                                    <i class="fi fi-tr-point-of-sale-bill" style="font-size: 30px;"></i>
                                    <div>Payslips</div>
                                </a>
                            </div>
                        </div>
                        <h6>Leave & Timesheet</h6>
                        <div class="row box">
                            <div class="col-md-6 p-0">
                                <a href="{% url 'emp_leave_request' %}"">
                                    <i class=" fi fi-tr-house-leave" style="font-size: 30px;"></i>
                                    <div>Leave Request</div>
                                </a>
                            </div>
                            <div class="col-md-6 p-0">
                                <a href="{% url 'my_leave_requests' %}">
                                    <i class="fi fi-tr-time-past" style="font-size: 30px;"></i>
                                    <div>Leave Assigned</div>
                                </a>
                            </div>
                            <!-- <div class="col-md-6 sub-box">
                                <a href="#">
                                    <img src="/static/img/emp_images/Overtime.png" alt="" class="aside-img"
                                        style="width: 50px;"><br>
                                    <span>Overtime Comp-Off Request</span>
                                </a>
                            </div>
                            <div class="col-md-6 sub-box">
                                <a href="#">
                                    <img src="/static/img/emp_images/Timesheet.png" alt="" class="aside-img"><br>
                                    <span>Timesheet Logging</span>
                                </a>
                            </div> -->
                        </div>
                        <h6>Complaint & Feedback</h6>
                        <div class="row box">
                            <div class="col-md-6 p-0">
                                <a href="{% url 'submit_complaint' %}">
                                    <i class="fi fi-tr-building-user" style="font-size: 30px;"></i>
                                    <div>Complaint</div>
                                </a>
                            </div>
                            <div class="col-md-6 p-0 ">
                                <a href="{% url 'employee_feedback' %}">
                                    <i class="fi fi-tr-feedback-alt" style="font-size: 30px;"></i>
                                    <div>Feedback</div>
                                </a>
                            </div>
                        </div>
                    </div>

                </aside>

                {% block content %} {% endblock %}


                <aside class="col-sm-3 col-md-2 col-lg-2 sidebarr">
                    <div class="">
                        <!-- Leave Balance -->
                        <div class="upcoming">
                            <h6>Leave Balance</h6>
                            <ul>
                                <li>Casual Leave: {{ leave_balance.casual }}</li>
                                <li>Sick Leave: {{ leave_balance.sick }}</li>
                                <li>Earned Leave: {{ leave_balance.earned }}</li>
                            </ul>
                        </div>

                        <!-- Pending Tasks -->
                        <div class="upcoming">
                            <h6>Pending Tasks</h6>
                            <ul>

                                <li>{{ pending_tasks}}</li>
                            </ul>
                        </div>

                        <!-- Monthly Payroll Summary -->
                        <div class="upcoming">
                            <h6>Latest Payroll</h6>
                            <ul>
                                {% if latest_payroll %}
                                <li>Month: {{ latest_payroll.month|date:"F Y" }}</li>
                                <li>Total Salary: Rs.{{ latest_payroll.total_salary }}</li>
                                <li>Overtime: Rs.{{ latest_payroll.overtime }}</li>
                                <li>Bonus: Rs.{{ latest_payroll.bonus }}</li>
                                {% else %}
                                <li>No payroll record found</li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </aside>


                <!-- Employee Profile Modal -->
                <div class="modal fade" id="employeeModal" tabindex="-1" aria-labelledby="employeeModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Update Personal Information</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>

                            <form method="post" enctype="multipart/form-data"
                                action="{% url 'update_employee_profile' %}">
                                {% csrf_token %}
                                <div class="modal-body">
                                    <!-- Profile Photo -->
                                    <div class="mb-3 text-center">
                                        <label for="profilePhoto" class="form-label">Profile Photo</label>
                                        <input type="file" class="form-control" id="profilePhoto"
                                            name="employee_images">
                                    </div>

                                    <!-- Name (readonly) -->
                                    <div class="mb-3">
                                        <label for="employeeName" class="form-label">Name</label>
                                        <input type="text" class="form-control" id="employeeName" name="name"
                                            value="{{ employee.name }}" disabled title="Only HR can update this field">
                                    </div>

                                    <!-- Email (readonly) -->
                                    <div class="mb-3">
                                        <label for="employeeEmail" class="form-label">Email</label>
                                        <input type="email" class="form-control" id="employeeEmail" name="email"
                                            value="{{ employee.email }}" disabled title="Only HR can update this field">
                                    </div>

                                    <!-- Phone (editable) -->
                                    <div class="mb-3">
                                        <label for="employeePhone" class="form-label">Phone</label>
                                        <input type="text" class="form-control" id="employeePhone" name="phone"
                                            value="{{ employee.phone }}" placeholder="Enter phone number">
                                    </div>

                                    <!-- Address (editable) -->
                                    <div class="mb-3">
                                        <label for="employeeAddress" class="form-label">Address</label>
                                        <textarea class="form-control" id="employeeAddress" name="address" rows="2"
                                            placeholder="Enter address">{{ employee.address }}</textarea>
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn"
                                        data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn">Save Changes</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>




    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}




    <script src="/static/js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.4.3/dist/echarts.min.js"></script>
    {% block scripts %}

    {% endblock %}
    <script>
        const tooltipTriggerList = [].slice.call(document.querySelectorAll('[title]'));
        tooltipTriggerList.map(function (el) {
            new bootstrap.Tooltip(el);
        });
    </script>


    <!-- Pass Data from Django to JS -->
    <script>
        var chartDom = document.getElementById('kpiChart');
        var myChart = echarts.init(chartDom);
        var option;

        option = {
            title: {
                text: 'Employee KPI Breakdown',
                subtext: 'Current Month',
                left: 'center'
            },
            tooltip: {
                trigger: 'item'
            },
            series: [
                {
                    name: 'KPI',
                    type: 'pie',
                    radius: '50%',
                    data: [
                        {% for label, score in kpi_scores.items %}
                        { value: {{ score }}, name: '{{ label }}' },
        {% endfor %}],
        emphasis: {
            itemStyle: {
                shadowBlur: 10,
                    shadowOffsetX: 0,
                        shadowColor: '#000;'
            }
        }
                }
            ]
        };

        option && myChart.setOption(option);
    </script>



</body>

</html>