<nav class="navbar">
    <div class="navbar-left">
        <!-- <i class="fi fi-br-bars-staggered" onclick="toggleSidebar()"></i> -->
        <div class="p-1 d-block d-lg-none"">

            <i class="fi fi-br-menu-burger" onclick="toggleSidebar()"></i>
        </div>
        <div class="logo ps-2">
            <a href="{% url 'emp_dashboard' %}">
                <img src="/static/img/main-logo.png" class="logo" style="height: 2rem;width: 100%;" />
            </a>
        </div>


    </div>
    <div class="navbar-right d-none d-md-flex">
        <a href="{% url 'logout' %}" class="nav-btn text-light">
            <i class="fi fi-br-exit"></i>
        </a>
        <button class="theme-toggler " id="darkModeToggle" class="nav-btn" onclick="toggleDarkMode()">

            <i class="fi fi-br-moon"></i>
        </button>
        
        <div class="profile">
            <a href="#" class="d-flex" title="Profile" data-bs-toggle="modal" data-bs-target="#employeeModal">
                <img src="{{ employee.employee_images.url}}" alt="Profile Picture" class="profile-img">
                <!-- <span class="user-id">{{ employee.employee_id }}</span> -->
                <span class="username">{{ employee.name }}</span>
                <i class="fi fi-br-caret-down"></i>
            </a>
        </div>
    </div>

    <!-- For small screen -->
    <div class="profile dropdown d-md-none">
        <a href="#" class="d-flex align-items-center dropdown-toggle" id="profileDropdown" data-bs-toggle="dropdown"
            aria-expanded="false">
            <img src="{{ employee.employee_images.url }}" alt="Profile" class="profile-img">
            <!-- <span class="ms-2 d-sm-none">{{ employee.name }}</span> -->
        </a>

        <!-- Dropdown Menu -->
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
            <li>
                <button class="dropdown-item" onclick="toggleDarkMode()">
                    <i class="fi fi-tr-moon me-2"></i>Dark Mode
                </button>
            </li>
            <li>
                <a class="dropdown-item text-dark" href="#" data-bs-toggle="modal" data-bs-target="#employeeModal">
                    <i class="fi fi-tr-user-skill-gear me-2"></i>Settings
                </a>
            </li>
            <li>
                <a class="dropdown-item text-danger" href="{% url 'logout' %}">
                    <i class="fi fi-tr-sign-out-alt me-2"></i>Logout
                </a>
            </li>
        </ul>
    </div>
</nav>