<!-- templates/includes/employee_sidebar.html -->
<aside id="menuSidebar" class="sidebar hidden">
    <div class="sidebar-list">
        <h2 class="logo">TECHZILA</h2>

        <h6>Performance</h6>
        <div class="box">
            <div><a href="#"><i class="fi fi-br-speedometer-kpi"></i><br><span>Performance KPI</span></a></div>
            <div><a href="#"><img src="/static/img/emp_images/Incentive.png" class="aside-img"><br><span>Task Completion Stats</span></a></div>
        </div>

        <h6>Attendance Management</h6>
        <div class="box">
            <div><a href="#"><img src="/static/img/emp_images/Check In.png" class="aside-img"><br><span>Check-In/Out</span></a></div>
            <div><a href="#"><img src="/static/img/emp_images/Summary.png" class="aside-img"><br><span>Summary</span></a></div>
            <div><a href="#"><img src="/static/img/emp_images/Notification.png" class="aside-img"><br><span>Notifications</span></a></div>
        </div>

        <h6>Payroll</h6>
        <div class="box">
            <div><a href="#"><img src="/static/img/emp_images/Monthly overview.png" class="aside-img"><br><span>Monthly Overview</span></a></div>
            <div><a href="#"><img src="/static/img/emp_images/Payslip.png" class="aside-img"><br><span>Payslips</span></a></div>
        </div>

        <h6>Leave & Timesheet</h6>
        <div class="box">
            <div><a href="#"><img src="/static/img/emp_images/Request.png" class="aside-img"><br><span>Request & Status Tracking</span></a></div>
            <div><a href="#"><img src="/static/img/emp_images/Leave Balance.png" class="aside-img"><br><span>Leave Balance</span></a></div>
            <div><a href="#"><img src="/static/img/emp_images/Overtime.png" class="aside-img"><br><span>Overtime Comp-Off Request</span></a></div>
            <div><a href="#"><img src="/static/img/emp_images/Timesheet.png" class="aside-img"><br><span>Timesheet Logging</span></a></div>
        </div>

        <h6>Complaint & Feedback</h6>
        <div class="box">
            <div><a href="#"><img src="/static/img/emp_images/Complain.png" class="aside-img"><br><span>Check Complaint</span></a></div>
            <div><a href="#"><img src="/static/img/emp_images/Feedback.png" class="aside-img"><br><span>Check Feedback</span></a></div>
        </div>

        <div class="box" style="border-top: 1px solid #555;">
            <div style="margin-top: 10px;"><a href="#"><img src="/static/img/emp_images/Setting.png" class="aside-img"><br><span>Settings</span></a></div>
            <div><a href="#"><img src="/static/img/emp_images/Logout.png" class="aside-img"><br><span>Logout</span></a></div>
        </div>
    </div>
</aside>
