{% extends "base.html" %}
{% block content %}

<h2>⚙️ Attendance Settings</h2>

<form method="POST">
  {% csrf_token %}

  <div>
    <label>Shift Start Time:</label>
    <input type="time" name="shift_start" value="{{ settings.shift_start|time:'H:i' }}">
  </div>

  <div>
    <label>Shift End Time:</label>
    <input type="time" name="shift_end" value="{{ settings.shift_end|time:'H:i' }}">
  </div>

  <div>
    <label>Working Days (per month):</label>
    <input type="number" name="working_days" value="{{ settings.working_days }}">
  </div>

  <div>
    <label>Hours per Day:</label>
    <input type="number" step="0.01" name="hours_per_day" value="{{ settings.hours_per_day }}">
  </div>



  <br>
  <button type="submit" class="btn btn-primary">💾 Save Settings</button>
</form>

{% endblock %}
