{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-3">
  <div class="d-flex justify-content-between mt-2">

    <h5 class="m-0">Pending Manual Attendance Requests</h5>
    <a href="{% url 'all_manual_requests' %}" class="btn btn-sm text-light" style="background: #4cc3c8;"><i
        class="fi fi-rr-time-past"></i>Record Requests</a>
  </div>

  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li class="alert alert-{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}

  <div class="table-responsive mt-3">
    {% if requests %}
    <table class="table table-hover align-middle table-striped" style="font-size: 12px;">
      <thead>
        <tr>
          <th class="text-light">Employee</th>
          <th class="text-light">Submitted At</th>
          <th class="text-light">Image</th>
          <th class="text-light">Coordinates</th>
          <th class="text-light">Location</th>
          <th class="text-light">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for req in requests %}
        <tr>
          <td>{{ req.employee.name }}</td>
          <td>{{ req.submitted_at }}</td>
          <td>
            <img src="{{ req.image.url }}" width="80" style="object-fit: cover; border-radius: 5px;">
          </td>
          <td>{{ req.latitude }}, {{ req.longitude }}</td>
          <td>

            {% if req.location %}
            {{ req.location.name }}
            {% else %}
            Remote Location: {{ req.location_name }} ({{ req.latitude }}, {{ req.longitude }})
            {% endif %}
          </td>

          <td>
            <a href="{% url 'approve_manual_attendance' req.id %}" class="btn btn-success btn-sm">✅ Approve</a>
            <a href="{% url 'reject_manual_attendance' req.id %}" class="btn btn-danger btn-sm">❌ Reject</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>No pending requests.</p>
    {% endif %}
  </div>
</div>

{% endblock %}